@media (min-width: 320px) and (max-width: 1279.98px) {
    .pb-650 {
        padding-bottom: 0rem;
    }
}
.h-25rem {
    height: 25rem;
}
.tt-visit-store {
    display: flex;
    align-items: center;
}
.tt-visit-store svg {
    width: 18px !important;
    height: 18px !important;
    line-height: 18px !important;
}
.min-h-400 {
    min-height: 400px;
}

.product-radio-btn li {
    display: inline-block;
    margin-right: 8px;
    margin-bottom: 6px;
}
.product-radio-btn li input {
    display: none;
}
.product-radio-btn li label {
    border: 1px dashed #ebebeb;
    padding: 1px 10px;
    border-radius: 6px;
    cursor: pointer;
}
.product-radio-btn li input:checked + label {
    border-color: #4eb529;
    color: #4eb529;
}
.handle {
    cursor: grab;
}

.note-editor .custom-dropdown-style {
    min-width: 300px; /* Imposta una larghezza minima per evitare che il testo vada a capo */
    max-width: 400px; /* Imposta una larghezza massima per evitare che diventi troppo ampio */
    padding: 10px;
}

.note-editor .note-dropdown-menu.list-unstyled {
    max-height: 300px; /* Limita l'altezza per evitare un dropdown troppo grande */
    overflow-y: auto; /* Aggiungi lo scroll verticale se necessario */
    padding: 5px;
    margin: 0;
}

.note-editor .note-section {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    white-space: nowrap; /* Impedisce al testo di andare a capo */
}

.note-editor .note-section:hover {
    background-color: #f1f1f1; /* Cambia il colore di sfondo quando l'elemento viene hoverato */
    color: #007bff; /* Colore del testo durante l'hover */
}

.note-editor .note-section-search {
    margin-bottom: 10px;
}

.note-editor .note-section-search input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box; /* Assicura che il padding non aumenti la larghezza complessiva dell'input */
}
